.container {
  max-width: 600px;
  height: 230px;
  background: white;
  margin: 2em auto;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1775ee;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.wraper-left {
  display: flex;
  align-items: baseline;
  padding-left: 1em;
}

/* 
.avatar {
  background-color: #42b72a;
}
 */

textarea {
  width: 90%;
  height: 100px;
  background: none;
  border: none;
  font-size: 1.2em;
  outline: none;
  resize: none;
}

.btnTweet {
  width: 100px;
  height: 40px;
  background: #42b72a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.imgUrl {
  outline: none;
  text-align: center;
  width: 50%;
}

.wrapper-right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 1.5em;
  padding-left: 1em;
}

#postTitleError {
  color: red;
}

.iconPhotoT,
.iconVideoT,
.iconLiveT {
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.iconPhotoT{
  
  color: #1775ee;
}

.iconVideoT, #icnBtnVideo {

  color: orange;
}

.iconLiveT, #icnBtnLive{
  color: red;
}

#borderPost {
  margin: 1em;
  font-size: 1em;
  border-bottom: 1px solid #dadde1;
  width: 100%;
  align-self: center;
}
