.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: #1775ee;
  color: white;
  align-items: center;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.iconsContainer {
  display: flex;
  padding-right: 2em;
}

.logo {
  padding-left: 2em;
}

#iconNavWhite {
  color: white;
}

.iconsContainer a {
  margin-left: 20px;
}

.HiUsername p {
  font-weight: 600;
}

a {
  text-decoration: none;
}
