.commentWrapper {
  background: rgb(25 118 210 / 4%);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 10px;
  margin: 1em 1em;
  position: relative;
}

.comPicNameDate {
  display: flex;
  padding: 1em 1em 0em 1em;
  margin-bottom: 0.5em;
}

#deleteComsIcon {
  position: absolute;
  top: 10px;
  right: 5px;
  color: red;
}

.comAvatarName {
  display: flex;
}

#comAvt {
  height: 50px;
  width: 50px;
}

#ComUname {
  margin: 0;
  font-weight: bold;
  margin-right: 4em;
}

.bodyComs {
  border-width: 90%;
  border-top: 1px solid gray;
  padding-top: 1em;
}

.unameAndBodyCom {
  padding-left: 1em;
  padding-right: 1em;
  width: 95%;
}

.comsNameDateCenter {
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
}

.ownerCom {
  background-color: #1775ee;
}

/* 
A test plus tard animation pour toggleComs

.animatedToggle {
  transition: 
  opacity 0.4s ease-in-out
  height 0.4s 0.4s ease-in-out;
}


.animated {
  opacity: 1;
  transition: 
  height 0.4s ease-in-out,
  opacity 0.4s 0.4s ease-in-out;
} */